@font-face {
    font-family: 'garet-book';
    src: url('../assets/fonts/Garet-Book.woff2') format('woff2'),
         url('../assets/fonts/Garet-Book.woff') format('woff'),
         url('../assets/fonts/Garet-Book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}





